{% extends "dashboard.html" %}
{% load static %}

{% block page_title %}Dashboard{% endblock %}

{% block content %}
<h3>Index</h3>
<div id="canvas-holder" style="width:40%">
    <canvas id="chart-area"></canvas>
</div>
{% endblock %}

{% block page_styles %}

{% endblock %}

{% block page_scripts %}
<script src="{% static 'js/chart.js' %}"></script>
{{widget_data|json_script:"widget-data"}}
<script>
chartColors = {
    red: 'rgb(255, 99, 132)',
    orange: 'rgb(255, 159, 64)',
    yellow: 'rgb(255, 205, 86)',
    green: 'rgb(75, 192, 192)',
    blue: 'rgb(54, 162, 235)',
    purple: 'rgb(153, 102, 255)',
    grey: 'rgb(201, 203, 207)'
};
let config = {
    type: 'pie',
    data: {
        datasets: [{
            data: [
                2,
                3,
                4,
            ],
            backgroundColor: [
                chartColors.black,
                chartColors.blue,
                chartColors.red,
            ],
            label: 'Widgets'
        }],
        labels: [
            'Black',
            'Blue',
            'Red'
        ]
    },
    options: {
        responsive: true
    }
};

window.onload = function() {
    var ctx = document.getElementById("chart-area").getContext("2d");
    window.myPieChart = new Chart(ctx, config);
};
</script>
{% endblock %}
