{% extends "base.html" %}

{% block page_header %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Widget Detail</h1>
</div>
{% endblock %}

{% block content %}
<table class="details-table">
    <tr>
        <td>Name:</td>
        <td>{{widget_data.name}}</td>
    </tr>
    <tr>
        <td>Model Number:</td>
        <td>{{widget_data.model_number}}</td>
    </tr>
    <tr>
        <td>Base Price:</td>
        <td>{{widget_data.base_price}}</td>
    </tr>
    <tr>
        <td>Color:</td>
        <td>{{widget_data.get_color_display}}</td>
    </tr>
</table>
{% endblock %}

{% block page_styles %}

{% endblock %}

{% block page_scripts %}

{% endblock %}
